{% extends 'base.html' %} {% block content %}
<h1>Welcome {{user.username }}</h1>

<form id="myHomeForm" method="POST">
	{% include "partials/_form.html" %}
	<button class="btn btn-primary" type="submit">Search</button>
	<input type="hidden" name="form" value="search_songs" />
</form>

{% if resultsSong %}
<form class="container" method="POST">
	<div class="container song-results">
		{% for result in resultsSong %}
		<div class="song-result">
			<label for="{{ result['spotify_id'] }}">
				<a href="{{result['url']}}" target="_blank">
					{{ result['title']}} by {{ result['artists'] }}</a
				></label
			>
			<iframe
				src="https://open.spotify.com/embed/track/{{ result['spotify_id'] }}"
				width="300"
				height="380"
				frameborder="0"
				allowtransparency="true"
				allow="encrypted-media"
			></iframe>
		</div>
		{% endfor %} 
		{% for result in youtube_results %}
		<div class="song-result">
			<label for="{{ result['id'] }}">
				<a
					href="https://www.youtube.com/watch?v={{result['id']}}"
					target="_blank"
				>
					{{ result['title']}}</a
				></label
			>
			<iframe
				width="300"
				height="250"
				src="https://www.youtube.com/embed/{{ result['youtube_id'] }}"
				title="{{result['title']}}"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
			></iframe>
		</div>
		{%endfor %} 
	</div>
	<input type="hidden" name="form" value="pick_songs" />
</form>

{% endif %}

<script>
	function autoSubmitForm() {
		document.getElementById("myHomeForm").submit();
	}
</script>
{% endblock %}
